*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
body{
  background-color:#e7e7e7;
}
#menu{
  position:absolute;
  width:50%;
  background-color:#74b9ff;
  text-align: center;
  opacity:0;
  transition:opacity 500ms linear;
  
  
}

#menu li{
  border-top:1px solid #ffffff;
  padding:4px;
  cursor:pointer;
  
}
#menu li:hover{
  background-color:#0984e3;
  transition:ease-in-out 700ms;
}
#menu a{
  color:#FFF;
  text-decoration:none;
  font-size:20px;
}
.material-symbols-outlined{
  background-color: #0984e3;
  display: flex;
  justify-content: end;
  padding:8px;
  font-size:40px;
  color:#FFF;
  cursor: pointer;
 
}
main{
  width:90%;
  margin:10px auto;
  border-radius:10px;
  background-color:#FFF;
  padding:10px;
  text-align: justify;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.502);
}
main h2{
  margin-top:20px;
  color:#000;
  text-align: center;
}
main h1{
  margin-top:20px;
  text-align: center;
  color:#0984e3;
}
main p{
  margin-top:20px;
}
footer{
  width:90%;
  margin:10px auto;
  background-color: #FFF;
  padding:10px;
  border-radius:10px;
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.502);
}
footer h2,h3{
  text-align: center;
  color: #0984e3;
  padding-top:20px;
}
.paymant{
  text-align: center;
  text-decoration: none;
  color: #000;
}
.paymant p{
  color: #000;
  font-size:20px;
}
.paymant a{
  text-decoration: none;
  
}
#icon_paymant{
  color: #00b894;
  font-size:28px;
  padding:20px;
}
.central p{
  text-align: center;

}
.social_media{
  text-align: center;
}
.social_media a i{
  color: #00b894;
  font-size:28px;
  padding:20px;
  transition: ease-in-out 600ms;
  
}
.social_media a i:hover{
  transform: scale(1.2);
  transition: ease-in-out 600ms;
}
span#medal{
  color:#00b894;
  font-size:40px;
  width: 100%;
  text-align: center;
  margin-top:10px;
  

}